name: CI

on:
  push:
    branches: '**'
    tags-ignore: '**'
    paths-ignore:
      - '.github/*'
      - '.github/workflows/CD.yml'
      - '.mailmap'
      - '.gitattributes'
      - '.gitignore'
      - 'docs/**'
      - '**.md'
      - 'LICENSE'
  pull_request:
  workflow_dispatch:

jobs:
  build-win:
    name: Windows Build
    runs-on: windows-2019
    env:
      POWERSHELL_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with: { fetch-depth: 0 }
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
      - name: Build
        run: msbuild -m -t:p2fx -p:"Configuration=Release;Platform=x86" p2fx.sln
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: p2fx-windows
          path: |
            bin\p2fx.dll
            bin\p2fx.pdb
          if-no-files-found: error
      - name: Upload Blender Scripts Artifact
        uses: actions/upload-artifact@v3
        with:
          name: p2fx-blender-scripts
          path: blender\p2fx
          if-no-files-found: error